In [1]:
import pandas as pd
import pymongo

In [2]:
df= pd.read_csv('data.csv')
df.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
127649,127650,Male,22,1,28.0,1,< 1 Year,No,29588.0,160.0,56,0
197229,197230,Female,67,1,29.0,1,1-2 Year,No,20946.0,152.0,235,0
321717,321718,Male,33,1,32.0,0,1-2 Year,Yes,2630.0,156.0,293,0
316049,316050,Female,27,1,30.0,0,< 1 Year,Yes,35096.0,152.0,93,0
52244,52245,Male,25,1,28.0,1,< 1 Year,No,67589.0,152.0,247,0

In [3]:
data = df.to_dict(orient='records')

In [4]:
DB_NAME = 'Proj1'
COLLECTION_NAME = 'Proj1-Data'
CONNECTION_URL = "mongodb+srv://samalrdago:3F7aOnBKxYbSBX5K@cluster0.pjknlnb.mongodb.net/retryWrites=true&w=majority&appName=Cluster0"

In [5]:
client  = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [ ]:
rec = collection.insert_many(data)

In [6]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,685470da9d9c28aff06597c7,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,685470da9d9c28aff06597c8,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0