In [1]:
import pandas as pd
import pymongo

In [2]:
df= pd.read_csv('data.csv')
df.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
41913,41914,Female,39,1,50.0,1,1-2 Year,Yes,36397.0,26.0,263,0
363356,363357,Female,32,1,11.0,1,1-2 Year,No,38310.0,124.0,11,0
193276,193277,Female,36,1,7.0,0,1-2 Year,No,2630.0,160.0,47,0
20778,20779,Female,70,1,47.0,0,1-2 Year,Yes,37364.0,124.0,65,1
283329,283330,Male,69,1,28.0,1,1-2 Year,No,29162.0,26.0,227,0

In [3]:
data = df.to_dict(orient='records')

In [4]:
DB_NAME = 'Proj1'
COLLECTION_NAME = 'Proj1-Data'
CONNECTION_URL = "mongodb+srv://samalrdago:0eR6RwIw0kKVrMmO@cluster0.pjknlnb.mongodb.net/retryWrites=true&w=majority&appName=Cluster0"

In [5]:
client  = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]